
body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

div {
  text-align: center;
}

.todo-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px;
  width: 300px;
}


input[type="text"] {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

button {
  padding: 6px 12px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: whitesmoke;
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: red ;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 6px;
}
